/* comment */
body {
    background-color: lightgray;
    font-family: "Lucida Console", Monaco, monospace;
}
sidebar {
    text-align: center;
    padding: 25px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    background-color: royalblue;
    border-right: 2px outset royalblue;
    overflow-x: hidden;
}
#main {
    margin-left: 100px;
    padding: 15px;
}
sidebar a {
    display: block;
    height: 50px;
    width: 50px;
    background-color: lightgray;
    border-radius: 50%;
    border: 2px inset royalblue;
    font-size: 12px;
    line-height: 50px;
    overflow: hidden;
}
sidebar a + a {
    margin-top: 25px;
}
#frame {
    border: 2px outset royalblue;
    padding: 10px;
}
img {
    border: 2px inset royalblue;
}