/* comment */
sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 200px;
    height: 100%;
    background-color: royalblue;
    border-right: 2px outset royalblue;
    overflow-x: hidden;
}
#content-area {
    background-color: lightgray;
    left: 200px;
    min-height: 100%;
}
#resume, bio {
    background-color: lime;
    border-radius: 50%;
    border: 2px inset royalblue;
    text-align: center;
    vertical-align: center;
}